<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tritonmon.activity" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/tritonmon"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tritonmon.activity.Splash"
            android:label="@string/tritonmon" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.Tritonmon"
            android:label="@string/tritonmon" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tritonmon.activity.Battle"
            android:label="@string/battle" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.Login"
            android:label="@string/create_avatar" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.FacebookLogin"
            android:label="@string/facebook_login" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.MainMenu"
            android:label="@string/main_menu" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.MapView"
            android:label="@string/view_map" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.PokeCenter"
            android:label="@string/pokecenter" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.Welcome"
            android:label="@string/welcome" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.Register"
            android:label="@string/register" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.TrainerCard"
            android:label="@string/trainer_card" >
        </activity>
        <!-- <activity -->
        <!-- android:name="com.tritonmon.activity.SettingsActivity" -->
        <!-- android:label="@string/title_activity_settings" > -->
        <!-- </activity> -->
        <activity
            android:name="com.tritonmon.activity.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.Party"
            android:label="@string/party" >
        </activity>
        <activity
            android:name="com.tritonmon.activity.BattleParty"
            android:label="@string/title_activity_battle_party" >
        </activity>
    </application>

</manifest>
